:root {
  --main-header-colour: #4c4845;
  --hunter-hr-teal: #1bb9c5;
  --hunter-hr-green: #48ca7d;
  --hunter-hr-blue: #02B0EC;
  --menu-text-colour: var(--main-header-colour);
  --border-colour: var(--main-header-colour);
  --bg-alt: #ddd;
  --footer-bg-colour: var(--main-header-colour);
}


html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.8;
  color: var(--main-header-colour);
}

h1, h2 {
  color: var(--main-header-colour);
  font-weight: 300;
}
h1 {
  font-weight: 600;
  letter-spacing:3px;
}

a {
  text-decoration: none;
  color: var(--menu-text-colour);
  letter-spacing: 1px;
}
a:visited {
  color: inherit;
}

/* ######################################################################################################### */
/* general styles */
.flex {
  display:flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.section-header {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom:20px;
  text-align:center;
}
.section-header::before {
  margin-right: 20px;
  content: "";
  border-top: 2px solid var(--main-header-colour);
  width: 60px;
  padding-bottom: 4px;
  display: inline-block;
}
.section-header::after {
  margin-left: 20px;
  content: "";
  border-top: 2px solid var(--main-header-colour);
  width: 60px;
  padding-bottom: 4px;
  display: inline-block;
}

/* ######################################################################################################### */
/* 
video 
https://blog.hubspot.com/website/video-background-css
*/
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 750px) {
  #background-video { display: none; }
  body {
    background: url("../images/video-poster.png") no-repeat;
    background-size: cover;
  }
}

/* ######################################################################################################### */
/* Nav */
body,header {
  /* background: rgb(150,244,245); */
  /* background: linear-gradient(0deg, rgba(150,244,245,1) 0%, rgba(150,244,245,0.20725376332173495) 100%); */
  position: sticky;
  top: 0;
}

.nav-container {
  align-items: center;
  display: flex;
  background: white;
}

.home-logo {
  margin-left:50px;
}
.home-logo a {
  padding: 0 15px;
}

.nav-container .top-menu {
  margin-left: auto;
  color: var(--menu-text-colour);
}

.nav-container .top-menu a {
  padding: 0 15px;  
  text-decoration: none;
  text-transform: uppercase;
  color: var(--menu-text-colour);
  letter-spacing: 1px;
}
.nav-container .top-menu a:last-child {
  padding-right:40px;
}
.nav-container .top-menu a:visited {
  color: inherit;
}

.tagline {
  padding: 0 20px;
}

/* ######################################################################################################### */
/* sections */
section {
  /* padding: 0 50px; */
  position: relative;  
  /* min-height: calc(100vh - (110vw/-12)); */
}

.separator {
  bottom: -4px;
  left: 0;
  overflow: hidden;
  position: absolute;

  width: 100%;
}

.main {  
  color: white;
  text-align: center;
  min-height: 60vh;
  /* background-image: url(/images/video-poster.png); */
}

.main h1 {
  text-transform: uppercase;
  /* padding: 200px 20px; */
  margin-top: 10rem;
}

.main-tagline {
  padding-bottom: 200px;
}

.main-subtext {
  /* border: 1px solid var(--border-colour); */
  /* border-radius: 5px; */
  color: var(--border-colour);
  background: white;
  padding:5rem 10rem;
}

.bg-alt {
  background-color: var(--bg-alt);
}

.hr-alone {
  background: var(--bg-alt);
}

.skew-cc{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  z-index:10;
  background: linear-gradient(to right bottom, #ddd 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}

.skew-c{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  z-index:10;
  background: linear-gradient(to left bottom, #fff 49%, grey 50%);
}

/* ######################################################################################################### */
/* moving you forward */

#moving-you-forward {
  display: flex;
  background:grey;
}

#moving-you-forward aside {
  flex-direction: row;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  background-color: white;
  /* margin: 5px; */
  padding: 40px;
  text-align: center;
}
#moving-you-forward aside h2 {
  font-weight: 700;
}
#moving-you-forward aside img {
  height: 200px;
}

/* ######################################################################################################### */
/* meet elaine */
.headshot-wrapper {
  border: 2px solid var(--hunter-hr-teal);
  background-color: white;
  padding: 2px;
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
}

.headshot {
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
}

.meet-elaine {
  /* background: var(--hunter-hr-green); */
  /* background: #48ca7d91; */
  background: var(--bg-alt);
  display: flex;
  padding: 5rem 5rem;
  /* flex-direction: row; */
}

.meet-elaine-text {
  margin-left:30px;
}

/* ######################################################################################################### */
/* testimonials */
#hunterhr-testimonials cite {
  display: block;
  /* width: 400px;
  max-width: 400px; */
}


/* ######################################################################################################### */
/* contact */

#contact a {
  padding: 0;
  letter-spacing: 0px;
  text-transform: none;
  text-decoration: underline;
}

#contact input[type=text], #contact input[type=email], #contact textarea {
  width: 300px;
}

#contact input[type=submit] {
  width: 100px;
  margin-top:20px;
}

.howcontact {
  padding: 20px 0;
}

.locatedin {
  padding-top:30px;
}

/* ######################################################################################################### */
/* footer */
.footer {
  background-color: var(--footer-bg-colour);
  color: white;
  padding: 1rem; 
  text-align: center;
}
.footer a {
  color: white;
  text-decoration: underline;;
}
.acknowledge {
  font-size: 14px;
}


/* ######################################################################################################### */
/* Extra Code */
.glide__slides {
  /* transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; width: 4240.5px; transform: translate3d(-867.375px, 0px, 0px); */
}

.slider__frame {
  border-radius: .1666666667em;
  text-align: center;
  height: 150px;
  line-height: 150px;
  -webkit-box-shadow: inset 0 0 0 2px hsla(0,0%,100%,.5);
  box-shadow: inset 0 0 0 2px hsla(0,0%,100%,.5);
  color: #fff;
  background: transparent;
  font-size: 1em;
  font-weight: 900;
  background-color: rgb(237, 228, 228);
}

/* .slider__frame[class*=active] {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: linear-gradient(-45deg,#ed145b,#7b31f4)
} */

.slider__arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 24px;
  height: 24px;
  margin-top: -9px;
  border-radius: 50%;
  background-color: #818999;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0 .5rem 4rem 0 rgba(0,0,0,.5);
  box-shadow: 0 .5rem 4rem 0 rgba(0,0,0,.5)
}

.slider__arrow:hover {
  background-color: #ed145b
}

.slider__arrow--next {
  right: 1.5rem
}

.slider__arrow--prev {
  left: 1.5rem
}

.slider__bullets {
  position: absolute;
  z-index: 2;
  bottom: 1.5rem;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.slider__bullet {
  background-color: hsla(0,0%,100%,.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: 0 .25em .5em 0 rgba(0,0,0,.1);
  box-shadow: 0 .25em .5em 0 rgba(0,0,0,.1);
  margin: 0 .25em
}

.slider__bullet:focus {
  outline: none
}

.slider__bullet:focus,.slider__bullet:hover {
  border: 2px solid #fff;
  background-color: hsla(0,0%,100%,.5)
}

.slider__bullet[class*=active] {
  background-color: #fff
}

.slider--big .slider__arrows {
  position: absolute;
  z-index: 2;
  bottom: 36px;
  width: 100%
}

@media (min-width: 42.5em) {
  .slider--big .slider__arrows {
      position:static
  }
}

.slider--big .slider__arrow {
  width: 46px;
  height: 46px;
  margin-top: -30px
}

@media (max-width: 42.4375em) {
  .slider--big .slider__arrow {
      position:static
  }
}

.slider--big .slider__arrow--next {
  right: 3rem
}

.slider--big .slider__arrow--prev {
  left: 3rem
}